.card-blog {
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
}

.card-blog-image {
  height: 300px;
  object-fit: cover;
}

.card-blog-image img {
  height: 100%;
  border-radius: 1em 1em 0 0;
}

.card-content {
  background-color: white;
  border-radius: 0 0 1em 1em;
}

.card-content-text {
  padding: 2em;
}

.card-content-text h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card-content-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-content-footer {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: rgba(59, 132, 118, 1);
  border-radius: 0em 0em 1em 1em;
}

.card-content-footer-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-content-footer-date div {
  background-color: #c2fbd7;
  width: 80%;
  border-radius: 0.5rem;
}

.card-content-footer-date p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: green;
}
.card-content-footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* button */
.blog-button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.blog-button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.card-content-footer-button a:hover {
  color: green;

  border-radius: 1em;
}
