.card-blog {
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
}

.card-blog-image {
  height: 300px;
  object-fit: cover;
}

.card-blog-image img {
  height: 100%;
  border-radius: 1em;
}
