.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: green;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
}
.owl-carousel .owl-prev {
  top: 50%;
  left: -30px;
}
.owl-carousel .owl-next {
  top: 50%;
  right: -30px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: green;
}
