/* @font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../font/HelveticaNeueLTStd-Bd.otf");
}
@font-face {
  font-family: "Helvetica Neue LT Std Normal";
  src: url("../font/HelveticaNeueLTStd-LtCn.otf");
} */

* {
  font-family: "Nunito", sans-serif;
}

:root {
  --primary-bg-color: #f8f9fa;
  --gradient-color: linear-gradient(
    67deg,
    rgba(0, 87, 74, 1) 15%,
    rgba(59, 132, 118, 1) 72%,
    rgba(107, 180, 165, 1) 100%
  );
  --section-content-margin-bottom: 3rem;
  --section-margin-bottom: 8rem;
  --section-padding-top: 8rem;
}
h1 {
  font-size: 50px;
}

.section-margin-bottom {
  padding-bottom: var(--section-margin-bottom);
}

.section-content-margin-bottom {
  margin-bottom: var(--section-content-margin-bottom);
}

.section-padding-top {
  padding-top: var(--section-padding-top);
}
/* HEADER */
/* dropdownm */

/* END GG TRANSLATE */

.nav-line {
  height: 0.5px;
  width: 100%;
  background-color: #edeced;
}

.frameimg > img {
  width: 233px;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.framelogonotion {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
}

.menuheader {
  display: flex;
  column-gap: 50px;
}
.menuheader .detailmenu {
  color: #011612;
  cursor: pointer;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}
.menuheader .framelogonotion {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
}
.framelogonotion .logonotion {
  margin-top: 10px;
}
.framelogonotion .detaillogo {
  margin-top: 22px;
  color: #011612;
}

/* END HEADER */

/* navbar */
.navbar-toggler {
  background: var(--gradient-color);
  padding: 5px 20px;
}

.fa-gradient {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-xl {
  line-height: 1.04167em !important;
}

.bg-gradient-primary-to-secondary {
  background: var(--gradient-color) !important;
}

aside {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.carousel-inner {
  background-color: black !important;
}
.frameimg > img {
  width: 233px;
}
.featurette-heading {
  font-family: "Helvetica Neue LT Std";
  font-style: normal;
  font-weight: 700;
  /* font-size: 40px; */
  line-height: 121.5%;
}
.featurette-heading-1 {
  font-family: "Helvetica Neue LT Std";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 24.94px;
}

.featurette .lead {
  font-family: "Helvetica Neue LT Std Normal";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 175%;
}
.navbar-brand {
  font-family: "Helvetica Neue LT Std";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 61px;
}
.btn-primary {
  background: #343437;
  border-color: white;
}
.btn-apply {
  /* rgba(59, 132, 118, 1)  */
  border-color: rgba(0, 87, 74, 1);
  color: rgba(0, 87, 74, 1);
  font-weight: 500;
  transition: all;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-apply:hover {
  border-color: #2937f0;
  background: var(--gradient-color);
  color: white;
  transition: all;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.navbar {
  background-color: white;
}
.navbar-toggler {
  border: #f5f5f5 2px solid;
  border-radius: 5px;
}
.navbar-toggler-icon {
  background-image: url("../img/nav.svg");
}
.bg-dark {
  background-color: #343437 !important;
}
.check-icon {
  background-image: url("../img/check.png");
}
.check-bg {
  background: #f5f6fa;
  border-radius: 6px;
  box-shadow: 0px 4px 50px rgba(117, 115, 115, 0.1);
}
.check-heading {
  font-family: "Helvetica Neue LT Std";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 121.5%;
}
.check-content {
  font-family: "Helvetica Neue LT Std Normal";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 176%;
}
.one-bg {
  background-color: var(--primary-bg-color);
}
.two-bg {
  background-color: #f5f5f5;
}
.connect-collapse {
  font-family: "Helvetica Neue LT Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343437;
}

.recruitment-heading {
  font-family: "Helvetica Neue LT Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: black;
}

.recruitment-lead {
  font-family: "Helvetica Neue LT Std Normal";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 175%;
}
.btn-full-description {
  color: #343437;
  background: #e2e2e4;
  border: 1px solid #000000;
  border-radius: 6px;
}

.clock-icon {
  background-image: url("../img/clock.png");
  width: 20px;
  height: 20px;
  display: block;
  float: left;
}

.footer-lead {
  font-family: "Helvetica Neue LT Std Normal";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  word-spacing: 20px;
}

.footer-copyright {
  font-family: "Helvetica Neue LT Std Normal";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156.5%;
  /* or 28px */
  color: #343437;
  opacity: 0.7;
}
.ul-process {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  /* or 24px */
  text-transform: capitalize;
  margin-left: -18px;
  color: #193358;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.ul-process li {
  padding-top: 10px;
}
.check-min {
  min-height: 330px;
}
/* .accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #343437;
  background-color: transparent;
}
.accordion {
  --bs-accordion-bg: #fbfcff;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
} */

/* section one */

.section-one-content {
  width: 92%;
}

.section-one-content h1,
.section-one-content p {
  padding-bottom: 40px;
}
/* section three */
.accordion-button {
  color: white !important;
  background: rgba(59, 132, 118, 1) 72% !important;
}
.accordion-button:hover {
  color: white;
}
.accordion-button collapsed {
  color: white;
  background: rgba(59, 132, 118, 1) 72% !important;
}
.accordion-button collapsed:hover {
  color: white;
}
.accordion-button:focus {
  box-shadow: none;
}
.button.accordion-button:not(.collapsed)::after {
  color: white !important;
  background: white !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
/* end section three */
/* section four */
.section-four-box {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: white;
  background: linear-gradient(
    67deg,
    rgba(107, 180, 165, 1) 7%,
    rgba(59, 132, 118, 1) 61%,
    rgba(0, 87, 74, 1) 100%
  );
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px #83af9b;
  width: 65%;
}
.section-four-content {
  margin: 40px 0;
}

.section-four-content:nth-child(even) {
  display: flex;
  justify-content: end;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

/* section five */

.card {
  background: transparent !important;
  width: 100%;
  min-height: 160px;
}

.section-five-image > img {
  max-width: 25rem;
  width: 25rem;
  height: 37rem;
  object-fit: cover;
}

.card-subtitle {
  font-weight: 800;
}

/* section six*/
.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}
.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}
.timeline__event__date {
  color: #f6a4ec;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9251ac;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #f6a4ec;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 32px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event--type2:after {
  background: #555ac0;
}
.timeline__event--type2 .timeline__event__date {
  color: #87bbfe;
  background: #555ac0;
}
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__icon {
  background: #87bbfe;
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

#section-five .text-muted {
  color: black !important;
  font-weight: 800;
}

@media (max-width: 786px) {
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before,
  .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}

@media (max-width: 639.98px) {
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 35px;
  }
  #selectframe {
    margin-top: 10px;
  }
}

@media (max-width: 1199.98px) {
  .timeline__event {
    width: 100% !important;
  }
  .timeline__event__content {
    width: 100% !important;
  }
}

@media (max-width: 1399.98px) {
}

/*  LANDSCAPE */

@media screen and (max-height: 450px) and (orientation: landscape) {
  h1 {
    font-size: 28px;
  }
  h3,
  p {
    font-size: 14px;
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

/* section six */
.title-box {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.title-box p {
  font-size: 21px;
}

.title-box-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-box-content2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}

.title-box-content-details {
  margin-left: 10px;
}

.title-box-content-line-parent {
  height: 100%;
  display: flex;
  justify-content: right;
}

.title-box-content-line {
  width: 20px;
  background: var(--gradient-color);
  height: 100%;
}

.timeline__event__date p {
  color: white;
}

/* section seven */
.section-seven-box {
  padding: 25px 0;
}

/* section eight */
.card-carousel {
  background-color: white;
  height: 500px;
  border-radius: 15px;
}
