:root {
  --bs-body-bg: #ffffff;
  --bs-body-color: #011612;
  --bs-body-font-family: "Inter", sans-serif;
  --metacoders-sale-title-color: #3b8476;
  --section-content-margin-bottom: 6.2rem;
  --section-margin-bottom: 10rem;
  --section-padding-top: 3.5rem;
  --desktop-title-line-height: 58px;
  --mobile-title-line-height: 36px;
  --desktop-content-line-height: 28px;
  --mobile-content-line-height: 26px;
  --button-font-weight: 700;
  --one-bg-color: rgba(1, 22, 18, 0.05);
}

.section-y-space {
  margin-bottom: var(--section-margin-bottom);
  padding-top: var(--section-padding-top);
}

.section-content-margin-bottom {
  margin-bottom: var(--section-content-margin-bottom);
}

html,
body {
  overflow-wrap: break-word;
  height: 100%;
}
a,
a:hover,
a:active {
  color: #011612;
  text-decoration: none;
}
.card {
  --bs-card-border-color: none;
}
.one-bg {
  background: var(--one-bg-color);
}
.two-bg {
  background: rgba(59, 132, 118, 1);
}
.hd-bg {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #343437;
  background-color: transparent;
}
.accordion {
  --bs-accordion-bg: #fbfcff;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
}
/* HEADER */

.nav-line {
  height: 0.5px;
  width: 100%;
  background-color: #edeced;
}

.frameimg > img {
  width: 233px;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.framelogonotion {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
}

.menuheader {
  display: flex;
  column-gap: 50px;
}
.menuheader .detailmenu {
  color: #011612;
  cursor: pointer;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}
.menuheader .framelogonotion {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
}
.framelogonotion .logonotion {
  margin-top: 10px;
}
.framelogonotion .detaillogo {
  margin-top: 22px;
  color: #011612;
}

/* END HEADER */

/* SECTION FIVE */
.carousel-control-next-icon {
  background-image: url(../assets/image/next_arr.svg);
}
.carousel-control-prev-icon {
  background-image: url(../assets/image/pre_arr.svg);
}

.carousel-control-prev:hover > .carousel-control-prev-icon {
  background-image: url(../assets/image/hover_prev_arr.svg);
}
.carousel-control-next:hover > .carousel-control-next-icon {
  background-image: url(../assets/image/hover_next_arr.svg);
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}
#section-five .carousel-inner {
  width: 72%;
  margin: 0 auto;
}

.section-five-content-text {
  font-weight: 600;
}
.section-five-text-margin-top {
  margin-top: 33px;
}
.green-text {
  color: #3b8476;
  font-weight: 600;
}
.title-small-text {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
}
.section-five-custom-arrow {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 15%;
  height: 100%;
  justify-content: center;
}
.section-five-custom-arrow-left {
  left: 0;
}

.section-five-custom-arrow-right {
  right: 0;
}

.section-five-custom-arrow .carousel-control-prev,
.section-five-custom-arrow .carousel-control-next {
  position: unset;
  height: 15%;
}
/* SECTION SIX */

#section-six .card::before {
  content: "";
  display: block;
  width: 89%;
  height: 1px;
  background: #e0e0e0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40%;
}

.card-height {
  min-height: 500px;
  /* min-width: 375px; */
}

.card-margin {
  margin: 15px 13px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 35px 0px;
  border: none;
  height: 100% !important;
}

.section-six-title,
.section-six-money-number {
  font-weight: 700;
}

.section-six-title,
.section-six-per {
  font-size: 24px;
}

.section-six p {
  font-size: 24px;
  font-weight: 500;
  color: #292929;
}

.section-six-money-number {
  font-size: 40px;
}
.section-six-litle-text,
.section-six-detail-text,
.section-six-per {
  font-size: 18px;
  font-weight: 500;
}
.section-six-title,
.section-six-detail-text {
  color: #011612;
}

#section-six .small-content-title {
  font-size: 24px;
  font-weight: 500;
}

.section-six-litle-text,
.section-six-per {
  color: #666666;
}

#section-six .card {
  border-radius: 14px;
}

.section-six-padding-bottom-card {
  padding-bottom: 60px;
}

.section-six-detail-text-center {
  display: flex;
  align-items: center;
}
/* SECTION 1 */
.mt-video {
  margin-top: 10rem;
  height: 100%;
}

.section1 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 10%;
}
.section1 > h1 {
  font-style: normal;
  font-weight: 700;
}

.section1 .buttonsection1 {
  width: 191px;
  height: 51px;
  padding: 15px 17px 15px 17px;
  background: #3b8476;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

/* END SECTION 1 */
/* SECTION 2 */
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 .firstcontent {
  text-align: center;
  /* width: 35%; */
}

.firstcontent > p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.section2 .framedetailcontent {
  display: flex;
  column-gap: 12px;
}
.framedetailcontent .detailcontentmobile {
  display: none;
}
.framedetailcontent .boxbg1 {
  width: 11px;
  background: rgba(102, 102, 102, 0.2);
}
.section2 .detailcontent {
  text-align: left;
}

.detailcontent > p {
  font-style: normal;
  font-weight: 400;
  color: #666666;
}
.detailcontent > p > span {
  font-weight: 600;
  color: #011612;
}
.detailcontent .detailcontent2 {
  font-weight: 600;
  color: #3b8476;
}
/* END SECTION 2 */
/* SECTION 7 */
.section-seven {
  width: 100%;
  height: auto;
  background: url("../assets/Rectangle-739.png");
  background-size: cover;
}
.section-seven h1 {
  margin: 0;
  text-align: center;
}
.section-seven h1 {
  color: #ffffff;
}

.section-seven .rectangle {
  width: 173px;
  height: 58px;
  background: #ffffff;
  border-radius: 30px;
  padding: 20px 33px 20px 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #15362d;
  cursor: pointer;
  text-align: center;
}
/* END SECTION 7 */
/* SECTION 9 */
.footer {
  height: 96px;
  padding: 0;
}

.footer-text {
  color: #ffffff;
}
/* END SECTION 9 */
/* SECTION 3 */
#section-3 .card1 {
  padding-right: 20px;
}
#section-3 .card1 p {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.css-window #section-3 .card1 p {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
#section-3 .card2 p {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
.css-window #section-3 .card2 p {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
#section-3 .card2 {
  padding-right: 10px;
  padding-left: 10px;
}
#section-3 .card3 {
  padding-left: 20px;
}
/* SECTION 4 */
#section-4 .row {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin-left: 0px;
  margin-right: 0px;
}
#section-4 .row h3 {
  font-weight: 600;
}

/* SECTION 8 */

.section-eight .title {
  margin-bottom: 0;
  font-style: normal;
}

.section-eight .black-line {
  border-bottom: 3px solid #011612;
}

.section-eight .accordion {
  background: #ffffff;
}

.section-eight .accordion-item {
  background: #ffffff;
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
}

.section-eight .accordion-item h3 {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #011612;
  line-height: 30px;
}

.section-eight .accordion-button {
  background: #ffffff;
  padding: 0;
  box-shadow: none;
}

.section-eight .accordion-body {
  background: #ffffff;
}

.section-eight .accordion-body p {
  color: #666666;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
/* END SECTION 8 */

/* NEW SECTION 2 */
#processSteps {
  position: relative;
}

#processSteps .process-content #first,
#processSteps .process-content #second,
#processSteps .process-content #third,
#processSteps .process-content #fourth,
#processSteps .process-content #five {
  display: flex;
  padding: 24px 26px;
  border-radius: 15px;
  background: var(--one-bg-color);
  margin: 15px 0;
  opacity: 0.5;
  cursor: pointer;
  column-gap: 1rem;
}

#mobile-nprogress-bar {
  transform: translate(-225px, 382px) rotate(90deg);
  -webkit-appearance: none;
  color: #ccc;
  height: 10px;
  width: 738px;
}

.process-content-active {
  opacity: 1 !important;
}
#new-section-5 .framedetailcontent,
#new-section-5 .framedetailcontent .detailcontent {
  width: 100%;
}

.cont {
  height: 100%;
  padding: 0;
  width: 100%;
}
#nprogress-bar {
  -webkit-appearance: none;
  width: 862px;
  color: #ccc;
  height: 5px;
  transform: translate(-50%, -4px);
  left: 50%;
  position: relative;
}

.process-content > div > h2 {
  text-align: center;
}
.process-content > div > p {
  font-weight: 900;
}

#first,
#second,
#third,
#fourth {
  margin: 0px;
}

#mobile-step div {
  display: flex;
  justify-content: end;
  transform: translate(9px, 0);
  text-align: center;
}

#mobile-step div:nth-child(1) {
  transform: translate(9px, 0);
}
#mobile-step div:nth-child(2) {
  transform: translate(9px, 135px);
}
#mobile-step div:nth-child(3) {
  transform: translate(9px, 277px);
}
#mobile-step div:nth-child(4) {
  transform: translate(9px, 440px);
}
#mobile-step div:nth-child(5) {
  transform: translate(9px, 576px);
}

#mobile-step span {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 5px solid #d9d9d9;
  background: white;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

#step span {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 5px solid #d9d9d9;
  background: white;
  position: relative;
  left: 0;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
#step {
  height: 100px;
  width: 100%;
  transform: translate(0, -24px);
}
#step span i {
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

#step > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#step > div:nth-child(1) {
  left: 169px;
}
#step > div:nth-child(2) {
  left: 406px;
}
#step > div:nth-child(3) {
  left: 624px;
}
#step > div:nth-child(4) {
  left: 813px;
}
#step > div:nth-child(5) {
  left: 1028px;
}

#step > div > p {
  color: black;
  text-align: center;
}

.detail {
  position: relative;
}
#nprogress-bar::-webkit-progress-value,
#mobile-nprogress-bar::-webkit-progress-value {
  /* Changes line color */
  background: var(--metacoders-sale-title-color);
  transition: all 0.4s ease-in-out;
}
#nprogress-bar::-webkit-progress-bar,
#mobile-nprogress-bar::-webkit-progress-bar {
  /* Changes background color */
  background: #ccc;
}
#step .border-change,
#mobile-step .border-change {
  border-color: var(--metacoders-sale-title-color);
  background: var(--metacoders-sale-title-color);
  transition: all 0.4s ease-in-out;
}

/* ======== RESPONSIVE =============*/
h1,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 43px;
}
h3 {
  font-size: 24px;
}
.fw-600 {
  font-weight: 600;
}
.title-green {
  color: var(--metacoders-sale-title-color);
}
p {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
}

.list-faq {
  list-style-type: circle;
  color: #666666;
}
@media (max-width: 639.98px) {
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
  .button-font-weight {
    font-weight: var(--button-font-weight);
  }
  /* MENU */
  .frameimg > img {
    width: 125px;
  }
  /* DRAWER */
  .menuheader {
    display: flex;
    column-gap: 15px;
    flex-direction: column;
  }
  .menuheader .framelogonotion {
    cursor: pointer;
    display: flex;
    column-gap: 5px;
    margin-left: 0px;
  }
  /* END DRAWER */

  /* END MENU */

  /* SECTION 1 */
  .mt-video {
    margin-top: 10rem;
  }

  .section1 > h1 {
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }

  .titlesec1 > h3 {
    line-height: 25px;
    margin-bottom: 0px;
  }
  .section1 .buttonsection1 {
    margin-top: 17px;
  }

  /* END SECTION 1 */

  /* SECTION 2 */

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 .firstcontent {
    display: block;
    text-align: center;
    /* width: 35%; */
  }

  .framedetailcontent .boxbg1 {
    width: 2rem;
  }

  .section2 .maincontent {
    text-align: center;
  }
  .section2 .framedetailcontent {
    display: flex;
    column-gap: 12px;
    margin-top: 22px;
  }

  .framedetailcontent .detailcontentmobile {
    display: block;
  }
  .detailcontentmobile > p {
    font-weight: 400;
    font-size: 17px;
    color: #666666;
  }
  .detailcontentmobile > p > span {
    font-weight: 600;
    color: #011612;
  }
  .detailcontentmobile .detailcontent2 {
    padding-top: 25px;
    font-weight: 600;
    font-size: 22px;
    color: #3b8476;
  }
  /* END  SECTION 2 */

  /* SECTION 3 */
  #section-3 .col-sm-4 {
    width: 100%;
  }
  #section-3 .card1 {
    padding: 10px;
  }

  #section-3 .card2 {
    padding: 10px;
    margin-top: 20px;
  }
  #section-3 .card3 {
    padding: 10px;
    margin-top: 20px;
  }
  /* SECTION 4 */
  #section-4 .row {
    border-radius: 15px;
  }
  #section-4 .row h3 {
    font-weight: 600;
    font-size: 18px;
  }

  /* SECTION FIVE */

  #section-five .carousel-inner {
    width: 86%;
  }
  .section-five-custom-arrow-left {
    left: -4%;
  }
  .section-five-custom-arrow-right {
    right: -4%;
  }

  #section-five .title-small-text {
    font-size: 16px;
  }

  .section-six p {
    font-size: 20px;
    font-weight: 500;
    color: #292929;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 1.5rem;
  }

  /* SECTION SIX */
  #section-six .card-height {
    min-width: 326px;
  }
  #section-six .small-content-title {
    font-size: 20px;
    font-weight: 500;
  }

  /* SECTION 7 */
  .section-seven {
    height: auto;
    padding: 15px 0;
  }

  /* SECTION 8 */
  .section-eight {
    margin-top: 63px;
    margin-bottom: 101px;
  }

  .section-eight .accordion-item h3 {
    font-size: 18px;
  }

  .section-eight .accordion-body p {
    font-size: 14px;
  }

  /* SECTION 9 */
  .footer-text {
    font-size: 14px;
  }
  .list-faq li {
    font-size: 14px;
  }
}

/*  LANDSCAPE */

@media screen and (max-height: 450px) and (orientation: landscape) {
  h1 {
    font-size: 28px;
  }
  h3,
  p {
    font-size: 14px;
  }
  .section1 {
    padding-top: 0;
  }
  .section1 .buttonsection1 > button {
    font-size: 10px !important;
    padding: 0 9px !important;
  }
  .section-content-margin-bottom {
    margin-bottom: 5%;
  }
  .section-y-space {
    padding-top: 5%;
  }
}
