
/* SECTION 1 */

.section1-margin-top {
  margin-top: 224px;
}

.section1 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.section1 > h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}
.titlesec1 > p {
  padding-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 18px; */
  text-align: center;
}
.section1 .buttonsection1 {
  margin-top: 57px;
}

#section1-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

#section1-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.video-js .vjs-tech {
  top: -2px;
}

.video-js {
  overflow: hidden;
}
#section1-root {
  /*width: 100%;*/
  height: 100%;
}

.section1 .buttonsection1 {
  width: auto;
  height: auto;
  padding: unset;
  padding-top: 5px;
}