:root {
  --bs-body-bg: #ffffff;
  --bs-body-color: #011612;
  --bs-body-font-family: "Inter", sans-serif;
  --metacoders-sale-title-color: #3b8476;
}
.card {
  --bs-card-border-color: none;
}
.one-bg {
  background: rgba(1, 22, 18, 0.05);
}
.two-bg {
  background: rgba(59, 132, 118, 1);
}
.hd-bg {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #343437;
  background-color: transparent;
}
.accordion {
  --bs-accordion-bg: #fbfcff;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
}
/* HEADER */

.mainheader {
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
}
.mainheader .frameimg {
  width: 19%;
  /* height: 5.6vw; */
}
.mainheader .frameimg > img {
  width: 100%;
  height: 100%;
}
.mainheader .framemenu {
  /* width: 50%; */
  display: flex;
  column-gap: 50px;
  margin-left: auto;
  justify-content: right;
}
.framemenu .detailmenu {
  cursor: pointer;
  margin-top: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.framemenu .framelogonotion {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
  margin-left: 40px;
}
.framelogonotion .logonotion {
  margin-top: 10px;
}
.framelogonotion .detaillogo {
  margin-top: 22px;
}
/* END HEADER */

/* SECTION FIVE */
.carousel-control-next-icon {
  background-image: url(../assets/image/next_arr.svg);
}
.carousel-control-prev-icon {
  background-image: url(../assets//image/pre_arr.svg);
}
.carousel-inner {
  width: 80%;
  margin: 0 auto;
}
.section-five-margin {
  margin-top: 9rem;
  margin-bottom: 12rem;
}
.section-margin-bottom {
  margin-bottom: 4rem;
}

/* SECTION SIX */
.card-height {
  min-height: 448px;
  min-width: 375px;
}

.card-margin-y {
  margin-top: 3rem;
  margin-bottom: 12rem;
}

.card-margin {
  margin: 15px 13px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 35px 0px;
  border: none;
}

/* SECTION 1 */
.section1 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.section1 > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;
}
.titlesec1 > p {
  padding-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
}
.section1 .buttonsection1 {
  width: 179px;
  height: 51px;

  background: #3b8476;
  border-radius: 30px;
  margin-top: 57px;
}
/* END SECTION 1 */
/* SECTION 2 */
.section2 {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 .firstcontent {
  /* width: 35%; */
}
.firstcontent > p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.section2 .maincontent {
  /* width: 85%; */
  margin-top: 15px;
}
.section2 .framedetailcontent {
  display: flex;
  column-gap: 12px;
  margin-top: 80px;
}
.framedetailcontent .boxbg1 {
  width: 11px;
  background: rgba(102, 102, 102, 0.2);
}
.section2 .detailcontent {
  text-align: left;
}
.detailcontent > p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #666666;
}
.detailcontent > p > span {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #011612;
}
/* END SECTION 2 */
.section-seven {
  width: 100%;
  height: 206px;
  background: url("../assets/Rectangle-739.png");
  object-fit: contain;
}
.section-seven h1,
.section-seven p {
  margin: 0;
  text-align: center;
}
.section-seven h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;
  color: #ffffff;
  margin-bottom: 19px;
}
.section-seven p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  color: #15362d;
}
.section-seven .rectangle {
  width: 173px;
  height: 58px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 96px;
}

.footer-text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
/* SECTION 3 */
#section-3 .card1 {
  padding-right: 20px;
}
#section-3 .card2 {
  padding-right: 10px;
  padding-left: 10px;
}
#section-3 .card3 {
  padding-left: 20px;
}
/* SECTION 4 */
#section-4 .row {
  background-color: rgba(255, 255, 255, 0.5);
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  border-radius: 15px;
}
#section-4 .row h3 {
  line-height: 38px;
  font-weight: 600;
}
/* ======== RESPONSIVE =============*/
h1,
h3 {
  font-weight: 700;
  line-height: 58px;
}
h3 {
  line-height: 18px;
}
h1 {
  font-size: 42px;
}
h3 {
  font-size: 24px;
}
.fw-600 {
  font-weight: 600;
}
.title-green {
  color: var(--metacoders-sale-title-color) ;
}
p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 575.98px) {  
  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .one-bg {
    background: rgba(17, 60, 252, 0.05);
  }
  /* SECTION 3 */
  #section-3 .card1 {
    padding:10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  #section-3 .card h3 {
    line-height: 29px;
  }
  #section-3 .card1 h3, #section-3 .card3 h3 {
    color: var(--metacoders-sale-title-color);
  }
  #section-3 .card2 h3 ,#section-3 .card2 p {
    color: var(--bs-white) ;
  }
  #section-3 .card2 {
    padding:10px;
    background: #105652;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 20px;
  }
  #section-3 .card3 {
    padding:10px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
    /* SECTION 4 */
  #section-4 .row {
    background: rgba(243, 245, 255, 0.5);
    border: 1px solid #217873;
    border-radius: 15px;
  }
  #section-4 .row h3 {
    line-height: 24px;
    font-weight: 600;
    font-size: 18px;
  }
}


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) { }


@media (max-width: 1199.98px) { }

@media (max-width: 1399.98px) { }
